on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: registry.fly.io/shirtscanner-be:${{ github.sha }}

name: Deploy
jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploy
    concurrency: deployment
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Login to Docker
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          flyctl auth docker

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run Tests
        run: |
          ./gradlew test

      - name: Build Docker Image
        run: |
          ./gradlew bootBuildImage --imageName $IMAGE_NAME

      - name: Push Docker Image
        run: |
          docker push $IMAGE_NAME

      - name: Deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          flyctl deploy -i $IMAGE_NAME --detach